.inputDiv {
  margin-right: 0;
  padding-right: 0;
}

.parentUl {
  padding: 0 0 0 30px;
}

.childUl {
  padding: 0 0 0 30px;
}

#errorDisplay {
  color: red;
  display: none;
}

#inputBox {
  position: absolute;
  display: none;
  height: 75px;
  width: 150px;
  z-index: 2;
  border: 1px black solid;
}

#generageInputLabel {
  font-size: 16px;
  margin: 0 3.5%;
}

#generateInput {
  width: 95%;
  height: 20px;
  margin: 2px 2.5%;
}

.generateBtn {
  height: 25px;
  width: 50px;
  font-size: 8px;
  padding-left: 2px;
  padding-right: 2px;
}